<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="margin-top: 10px">
  Click for Info
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">TaskBox <small>by Aswin S Sanakan</small> </h4>
      </div>
      <div class="modal-body">
        <p> <b>Description:</b> A Multi-user project management tool which focuses mainly in helping sole proprietor or freelancers for keeping track of their clients, projects & tasks. Multi-user project management tool alerts the users about the complete, incomplete and overdue tasks.</p> <br>

        <p><b>Guide:</b> Aniruddha Srinath Gannerkote</p> <br>
        
        <p><b>Roles & Responsibilities:</b></p>
        <p>
          <ul>
            <li>Developed using Ruby on Rails, Data Modeling</li>
            <li>Worked with gems like devise, cancan, rabl, chartkick</li>
            <li>Implemented Bootstrap UI</li>
            <li>Deployed in Heroku</li>
          </ul>
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>